<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10169447045-tod5cg4nsprfikdionrc6hri5rqid6k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10169447045-tod5cg4nsprfikdionrc6hri5rqid6k6</string>
	<key>API_KEY</key>
	<string>AIzaSyBIPROSw2758W-y2OXfZhUw2XzSffPT28w</string>
	<key>GCM_SENDER_ID</key>
	<string>10169447045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialdeck</string>
	<key>PROJECT_ID</key>
	<string>socialdeck-onboarding-test</string>
	<key>STORAGE_BUCKET</key>
	<string>socialdeck-onboarding-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10169447045:ios:4faf5737e9d1557b172fec</string>
</dict>
</plist>